body {
    text-align: center;
    background: #1e1e1e;
    color: white;
    font-family: Arial;
}

.screen {
    margin-top: 50px;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
}

#clickButton {
    font-size: 26px;
    padding: 20px 40px;
    background: #f1c40f;
}

button:hover {
    opacity: 0.85;
}
